.login-container{
    width: 1512px;
    height: 683px;
    font-family: sans-serif;
    margin: auto;
}
.login-items{
    display: flex;
    flex-direction: column;
    width: 355px;
    height: auto;
    margin: auto;
}
.login__h1{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
text-align: center;
}
.login__create-link{
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: dodgerblue;
    text-align: center;
    padding-bottom: 46px;
    text-decoration: underline dodgerblue;
}
.login-in{
    width: 355px;
    height: 40px;
    background: #F7F7F7;
    border: 1px solid #8F8F8F;
    border-radius: 8px; 
    margin-bottom: 18px;
}
.login-texxt{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
}
.login-text2{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;
margin-bottom: 17px;
color: #191919;
}
.login-sb-btn{
    padding: 15px 141.28px;
    background: #3665F3;
border: 1px solid #3665F3;
border-radius: 20px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #fff;
margin-bottom: 41px;
}
.btns-box{
    border-top: 1px solid #C7C7C7;
}
.login-googleeee{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
    background: #FFFFFF;
border: 1px solid #888888;
border-radius: 24px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
color: black;
background-color: #fff;
margin-top: 38px;
}
.btns-box__p{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
margin-top: 17px;
text-align: center;
margin-bottom: 7.2px;
}
.btns-box__p svg{
    font-size: 14px;
}
.btns-box__p2{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: center;
}
.btns-box__p3{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: center;
margin-bottom: 14px;
}
.btns-box__link{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #3665F3;
margin-left: 140px;
text-decoration: underline dodgerblue;
}